<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="생로병사"/>
    <meta name="description" content="해당 html에 대한 설명"/>
    <title>타이틀</title>
    <meta name="date" content="2022.05.25">
    <title>책임짐 게시글 작성 페이지</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<!-- Header -->
<header th:replace="header.html :: header"></header>
<!-- Close Header -->

<div class="boardRegistContainer">
    <div class="boardRegistMain">
        <form action="boardRegist" method="POST" enctype="multipart/form-data">

            <table class="registTable">
                <caption class="registTable_caption">게시글 작성하기</caption>
                <tr>
                    <td><input type="hidden" name="boardWriter" th:value="${session.login.memberId}"/></td>
                </tr>
                <tr>
                    <th>글머리</th>
                    <td class="registTable_td"><select class="registTable_td_select" name="boardType">
                        <option value="QnA">QnA</option>
                        <option value="잡담">잡담</option>
                        <option value="정보공유">정보공유</option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <th th:if="${session.login.memberId} eq 'admin'">공지사항 여부</th>
                    <td th:if="${session.login.memberId} eq 'admin'"><input type="radio" name="boardNotice"
                                                                            value="notice"/>공지사항
                    </td>
                    <td th:if="${session.login.memberId} ne 'admin'"><input type="hidden" name="boardNotice"
                                                                            value="normal"/>
                    </td>
                </tr>
                <tr>
                    <th>제목</th>
                    <td class="registTable_td"><input class="registTable_td_input" type="text" name="boardTitle"/> <br/>
                    </td>
                </tr>
                <tr>
                    <th>글내용</th>
                    <td class="registTable_td"><textarea class="registTable_td_textarea" name="boardContent"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>첨부파일</th>
                    <td><input type="file" name="boardFile"/> <br/></td>
                </tr>
            </table>
            <div class="registButtonInput_div">
                <input class="btn btn-success btn-lg px-3" type="submit" value="작성"/>
                <input class="btn btn-success btn-lg px-3" type="reset" value="지우기"/>
                <button class="btn btn-success btn-lg px-3" onclick="history.back(-1);" style="padding-bottom: 7px; padding-top: 6px;">뒤로가기</button>
            </div>
        </form>
    </div>
</div>

<!-- Start Footer -->
<footer th:replace="footer.html :: footer"></footer>
<!-- End Footer -->

</body>
<script src="https://code.jquery.com/jquery-latest.js"></script>
</html>