<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.GYM.company.dao.CommentDAO">
    <select id="commentList" parameterType="paging" resultType="comment">
        SELECT * FROM COMPANYREVIEW WHERE COMPANYCODE = #{companyCode} ORDER BY REVIEWNO DESC
    </select>
    <insert id="commentRegist" parameterType="comment">
        INSERT INTO COMPANYREVIEW VALUES (#{companyCode}, REVIEW_SEQ.NEXTVAL, #{reviewWriter}, #{reviewContent}, SYSDATE, #{reviewRate, jdbcType=VARCHAR})
    </insert>
    <update id="commentModify" parameterType="comment">
        UPDATE COMPANYREVIEW SET REVIEWCONTENT=#{reviewContent}, REVIEWRATE=#{reviewRate} WHERE REVIEWNO=#{reviewNo} AND COMPANYCODE=#{companyCode}
    </update>
    <delete id="commentDelete" parameterType="comment">
        DELETE FROM COMPANYREVIEW WHERE REVIEWNO=#{reviewNo} AND COMPANYCODE=#{companyCode}
    </delete>
    <select id="companyReviewRate" parameterType="String" resultType="double">
        SELECT AVG(REVIEWRATE) FROM COMPANYREVIEW WHERE COMPANYCODE = (SELECT COMPANYCODE FROM COMPANY WHERE COMPANYCODE = #{companyCode})
    </select>
    <update id="updateRate" parameterType="com.gym.GYM.company.dto.CompanyDTO">
        UPDATE COMPANY SET COMPANYRATE = #{companyRate} WHERE COMPANYCODE = #{companyCode}
    </update>
</mapper>